.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.login__body {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
  width: 100%;
}



.login__body > img {
  object-fit: contain;
  width: 300px;
  margin-bottom: 40px;
}

.login__body > button {
  /* padding: 10px; 
   margin-top: 10px; */
  background-color: rgb(25, 141, 161);
  text-transform: inherit; 
}

.login__body > button:hover {
  background-color: black;
  color: rgb(25, 141, 161);
}